{% extends "../base.html.twig" %}

{% block titulo %}
    Cat&aacute;logo de productos
{% endblock %}

{% block navbarContent%}

{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div></div>
    </div>
{% endblock %}