{% extends "../base.html.twig" %}

{% block titulo %}{% endblock %}

{% block navbarContent %}


{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-4" id="columna-izq">
            {% block contentIzq %}{% endblock %}
        </div>
        <div class="col-8" id="columna-der">
            {% block contentDer %}{% endblock %}
        </div>
    </div>
{% endblock %}