<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block titulo %}{% endblock %}</title>
    <link href="./view/bootstrap-4.2.1/dist/css/bootstrap.css" type="text/css" rel="stylesheet">
    <link href="./view/css/general.css" type="text/css" rel="stylesheet">
</head>
    <body class="container-fluid">

        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <a class="navbar-brand"><img src="#" alt="Logo Egibide"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapseContent" aria-controls="collapseContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapseContent">
                <div>
                    {% block navbarContent %}{% endblock %}
                </div>
            </div>
        </nav>
        <div class="col-12 offset-md-2 col-md-8">
            {% block content %}{% endblock %}
        </div>
        <footer class="row">
                <div class="col-3 offset-3 text-right">
                    <img src="#" alt="Logo Egibide">
                </div>
                <div class="col-3 text-left">
                    <div id="links">Links</div>
                    <div id="info">Informacion</div>
                    <div id="license">Licencia</div>
                </div>
            </div>
        </footer>

<script src="./view/jquery-3.3.1.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="./view/bootstrap-4.2.1/dist/js/bootstrap.js" type="text/javascript"></script>
    </body>
</html>