{% extends "base.html.twig" %}

{% block carousel %}{% endblock %}

{% block content %}
    <div class="row justify-content-center mb-4">
        <img class="" src="./view/media/order_confirmation.png" alt="Correcto">
    </div>
    <h1 class="text-primary text-center">¡Oído cocina!</h1>
    <h3 class="text-center">Hemos recibido tu pedido y estaremos encantados de preparartelo</h3>
    <h4 class="text-center">No olvides pasarte a por tu pedido el día {{ fechaPedido }}</h4>
    <h2 class="text-center">Muchas gracias</h2>
{% endblock %}
