{% extends "adminbase.html.twig" %}

{% block titulo %}Estadísticas{% endblock %}

{% block navbarContent %}
    <a href="index.php?controller=admin&action=pedidos" class="nav-link">Pedidos</a>
    <a href="index.php?controller=admin&action=productos" class="nav-link">Productos</a>
    <a href="index.php?controller=admin&action=logout" class="nav-link">Salir</a>
{% endblock %}

{% block carousel %}{% endblock %}

{% block content %}
    <canvas id="stats" width="400" height="250"></canvas>
{% endblock %}

{% block script %}
    <script src="./view/js/Chart.js" type="text/javascript"></script>
    <script src="./view/js/statsAdmin.js" type="text/javascript"></script>

{% endblock %}

